.wrapper {
	/*margin: 50px auto;*/
	/*margin-left: 500px; */
	font-size: 55px;
	text-align: center;

}
.myTable {
	margin: 50px auto;
	background-image: url(../images/wood3.png);
}
.headerOfBoard {
	transform: rotate(180deg);
}
.cell,
.addressFieldLeft,
.addressFieldRight {
	border: 1px solid black;
	width: 70px;
	height: 70px;
	
	
}
.addressFieldRight {
	transform: rotate(180deg);
}
.blackField {
	/*background: black;*/
	background-image: url(../images/woodBlack.png);
}
.whiteCell {
	background-image: url(../images/wood3.png);
}